html
  head
    link(rel="stylesheet", type="text/css", href="/styles/bootstrap.min.css")
    title test template
  body 
    p.h1 Hello there

    script(type='text/javascript', src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
    script(type='text/javascript', src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js')
    