.warning-card {
  max-width: 30rem;
  margin: 0 auto;
}

.warning-card__img {
  max-width : 100%;
  height: auto;
}

.warning-card__body {
  text-align: center;
}

.warning-card__btn {
  margin-top: 2rem;
}